{
    "title":"pySUDOKU",
    "shape": {
        "width":640,
        "height":480
    },
    "items": {
        "btnEasy": {
            "type":"button",
            "label":"Easy",
            "enable":1,
            "visible":1,
            "coordination":{ "x":10, "y": 420},
            "size":{ "width":150, "height": 50},
            "color":"white",
            "background":"red"
        },
        "btnMedium":{
            "type":"button",
            "label":"Medium",
            "enable":0,
            "visible":1,
            "coordination":{ "x":170, "y": 420},
            "size":{ "width":150, "height": 50},
            "color":"white",
            "background":"red"
        },
        "btnHard":{
            "type":"button",
            "label":"Hard",
            "enable":0,
            "visible":1,
            "coordination":{ "x":330, "y": 420},
            "size":{ "width":150, "height": 50},
            "color":"white",
            "background":"red"
        }
    }
}